{% extends 'app/base.html' %}

{% block content %}
<div class="container mt-3">

        <div class="row">
            <div class="col-sm-8">
                <div class="card border-0 shadow">
                    <img src="{{post.image.url}}" class="card-img-top" >

                    <div class="card-body">
                        <h3 class="card-title">{{post.nick}} ({{post.name}})</h3>
                        <p class="card-text">{{post.content}}</p>
                    </div>
                    <div class="text-center my-3">
                        <a href="{% url 'index' %}" class="btn btn-secondary">Назад</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body border-0 shadow">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                    <button type="submit" class="btn btn-secondary">Отправить</button>

                    {% for c in comments %}
                        <h5 class="my-3">{{c.user.username}}: -{{c.content}}</h5>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
